#home {
  background-color: $red;
  color: $gray;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: $light-gray;
    font-weight: bold;
    font-size: 16px;
  }
}

.container {
  padding: 100px 0;
}

p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: $gray !important;
}
