// Define variables for your color scheme

// For example:
$red: #EF233C;
$blue: #1988e5;
$yellow: #fcbb41;
$orange: #d36e15;
$green: #32B796;
$gray: #8D99AE;
$light-gray: #EDF2F4;
$dark-blue: #2B2D42
